<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.blog.mapper.BlogMapper">

  <resultMap id="BaseResultMap" type="com.example.blog.model.BlogVo">
    <id column="id" jdbcType="BIGINT" property="id" />
    <result column="user_id" jdbcType="BIGINT" property="userId" />
    <result column="title" jdbcType="VARCHAR" property="title" />
    <result column="description" jdbcType="VARCHAR" property="description" />
    <result column="created_dtm" jdbcType="TIMESTAMP" property="createdDtm" />
    <result column="created_id" jdbcType="BIGINT" property="createdId" />
    <result column="updated_dtm" jdbcType="TIMESTAMP" property="updatedDtm" />
    <result column="updated_id" jdbcType="BIGINT" property="updatedId" />
  </resultMap>

  <select id="getBlogs" parameterType="com.example.blog.dto.BlogDto" resultMap="BaseResultMap">
    select * from  (select id, title, description, DENSE_RANK() OVER (ORDER BY id) rnum
    from blog
    where 1=1
    <if test="input != null and input.title != null and input.title != ''">
    	AND title like #{title,jdbcType=VARCHAR}
  	</if>
  	<if test="input != null and input.description != null and input.description != ''">
    	AND description like #{description,jdbcType=VARCHAR}
  	</if> ) as tbl1
  	where tbl1.rnum > #{current_page,jdbcType=INTEGER} and #{page_size,jdbcType=INTEGER} >= tbl1.rnum
  </select>
  
    <select id="countAllBlogs" parameterType="com.example.blog.dto.BlogDto" resultType="int">
    select count(id) as total
    from blog
    where 1=1
    <if test="input != null and input.title != null and input.title != ''">
    	AND title like #{title,jdbcType=VARCHAR}
  	</if>
  	<if test="input != null and input.description != null and input.description != ''">
    	AND description like #{description,jdbcType=VARCHAR}
  	</if>
  </select>
</mapper>